*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
// @import "fonts";

$primary:#d5c455;
$black:#222222;
$shadow: "0 24px 36px -11px rgb(0 0 0 / 9%)";


@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: Bold;
    src: url(/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Medium;
    src: url(/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: Regular;
    src: url(/fonts/Poppins-Regular.ttf);
}
.landing-page{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    .right{
        background-color: $primary;
    }
    .left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 100px;
        background-color: #f8f8f8;
        .position{
            font-family: Bold;
            color: $black;
        }
        .name{
            font-family: Bold;
            font-size: 60px;
            color: $black;
            line-height: 1.2;
        }
        .buttons{
            button{
                color: white;
                font-family:Bold;
                padding: 16px 24px;
                box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
                border: none;
                background-color: white;
            }
            button:nth-child(1){
                background-color: $primary;
            }
        }
    }
}